volumes/node1/.qrl/data
volumes/node1/.qrl/wallet
volumes/node2/.qrl/data
volumes/node2/.qrl/wallet
volumes/node3/.qrl/data
volumes/node3/.qrl/wallet
volumes/node4/.qrl/data
volumes/node4/.qrl/wallet
volumes/node5/.qrl/data
volumes/node5/.qrl/wallet

volumes/node1/\.qrl/output
volumes/node2/\.qrl/output
volumes/node3/\.qrl/output
volumes/node4/\.qrl/output
volumes/node5/\.qrl/output
